$transition-lapse: 3s;

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
    animation: fadeIn $transition-lapse;
}

.fade-out {
    animation: fadeIn 1s reverse;
}

.slide-up {
    animation: slideInUp 0.5s;
}

.svgfade.ng-enter,
.svgfade.ng-leave
{
    transition-property: opacity;
    transition-duration: $transition-lapse;

    position:absolute;
    display:block;
}

.svgfade.ng-enter.ng-enter-active,
.svgfade.ng-leave
{
    opacity: 1;
}

.svgfade.ng-enter,
.svgfade.ng-leave.ng-leave-active
{
    opacity: 0;
}