.weather-container{
    height: 100%;
    font-family: Corben;
}

.weather-main-svg{
    text-align: right;

    svg {
        width: 400px;
        height: 400px;
        fill: #FED200;
    }
}

.weather-temperature{
    margin-top:15%;

    .max, .min {
        color: #DCE1E7;
        font-weight: bold;
    }

    .max {
        font-size:8em;
    }

    .min {
        font-size:5em
    }
}

.weather-header {
    background: #323A45;
    min-height: 15%;
    color: #F1F1F3;
    font-size: xx-large;
    padding-top: 4%;
    text-align: center;
}
.weather-today {
    background: white;
    min-height: 60%;
}

.weather-next {
    background: white;
    border-top: solid 5px;
    border-color: #E8ECEF;
    min-height: 25%;

    .weather-box {
        text-align: center;
        background: #F9FAFC;
        padding-bottom: 100%;

        &:hover {
            background : #D8BFD8;
        }
    }

    .weather-box:not(:first-child) { 
        border-left: solid 5px;
        border-color: #E8ECEF;
    }
}