<div class="weather-container" ng-if="today">
  <div class="weather-header row">
    Local Weather
  </div>
  <div class="weather-today row">
    <div class="col-md-6 svg-container">
      <div ng-include="'images/icons/' + today.weather[0].main + '.svg'" class="weather-main-svg svgfade"></div>
    </div>
    <div class="col-md-6 weather-temperature fade-in">
      <div class="max">{{today.main.temp_min | formatTemperature: 'C':true}}</div>
      <div class="min">/{{today.main.temp_max | formatTemperature: 'C':true}}</div>
    </div>
  </div>
  <div class="row weather-next slide-up">
    <div ng-repeat="day in weatherData|limitTo:4" ng-if="!$first" class="col-md-4 weather-box" ng-click="changeToday(day)">
      <div ng-include="'images/icons/' + day.weather[0].main + '.svg'" class="fade-in"></div>
      <div class="fade-in">{{day.dt * 1000 | date: "EEE" | uppercase}}</div>
    </div>
  </div>
</div>
{{error}}